body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Karma", sans-serif
}


nav.main-nav ul li a {
    text-decoration: none;
    color: #2c3e58;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: "Karma", sans-serif;
    font-weight: 500;
}

nav.main-nav ul li {
    list-style: none;
}

nav.main-nav ul {
    display: flex;
    /* text-align: center; */
    justify-content: center;
}

nav.main-nav ul li {
    justify-content: space-evenly;
    padding: 33px 20px;
}

.wp-post-image {
    width: 100%;
    height: 350px;
}

figure.col-md-9.single-images a img {
    width: 100%;
    height: auto;
    margin-bottom: 58px;
}

.title {
    font-size: 2rem;
}

.meta-info {
    font-size: 1.1em;
    color: #315561;
}

.meta-info a {
    color: #212529;
}

.content {
    font-size: 1.1rem;
}

.archive-content {
    margin-bottom: 120px;
}

figure.col-md-9.single-images a img {
    width: 100%;
    height: auto;
    margin-bottom: 58px;
}

.title {
    font-size: 2rem;
    margin-top: 33px;
}

.content {
    font-size: 1.1rem;
}

.single-images img.wp-post-image {
    width: 100%;
    height: auto;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul a {
    text-decoration: none;
    color: #1b2f48;
}


a.back-btn {
    text-decoration: none;
    color: #000;
    background: #f9d939;
    padding: 11px 42px;
    font-size: 1.8rem;
    border-radius: 7px;
    display: inline-block;
    margin-bottom: 107px;
}

.btn-dis-block {
    margin-bottom: 22px;
}

.comments {
    margin-top: 103px;
}


footer.comment-meta {
    font-size: 1.1rem;
}

footer.comment-meta a {
    color: #e6e5db;
}

.comment-respond {
    margin-top: 33px;
}

textarea#comment {
    resize: none;
}

p.comment-form-comment label {
    display: none;
}

input#submit {
    padding: 14px 17px;
    font-size: 1.2rem;
    background: #f9d939;
    border: none;
    border-radius: 4px;
    margin-bottom: 78px;
}

.comment-metadata {
    font-size: .8rem;
}

.comment-author.vcard {
    font-size: 1.8rem;
    margin-left: 0;
    padding-left: 0;
}

footer.main-footer {
    font-size: 1.1rem;
    text-align: center;
    padding: 20px;
    background: #f9d939;
    padding-top: 46px;
    color: #000;
}

footer.main-footer p a {
    color: #f0f0f0;
}

nav.main-nav {
    background: #f9d939;
    margin-bottom: 73px;
}

.menu-item-has-children ul,
.page-item-has-children ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background: #f9d939;
}

.menu-item-has-children ul li,
.page-item-has-children ul li {
    padding: 5px 25px 3px 11px !important;
}

.menu-item-has-children ul li a,
.page-item-has-children ul li a {
    margin-left: -47px;
    padding: 11px 10px 8px 8px;
}

.menu-item-has-children ul,
.page-item-has-children ul {
    display: none !important;
}

.menu-item-has-children:hover ul,
.page-item-has-children:hover ul {
    display: block !important;
}

/* .menu-item-has-children,
page-item-has-children {
    position: relative;
} */

/* .menu-item-has-children:before,
page-item-has-children:before {
    position: absolute;
    content: '▼';
    right: 6px;
    font-size: 11px;
    top: 39px;
} */